@charset "UTF-8";

/*
  # SAYCA is built with liminal Substrate.
  # ©John Coyne/iolla website design.
  # CSS prop var defs >
*/

:root {
  --padding: 1.5rem;
  --clr-site-bkgd: #f9f5f0;
  --clr-bizcard: #dbebdf;
  --clr-footer: #dbebdf;
  --clr-gratis: #dbebdf;
  --clr-facilities: #dbebdf;
  --clr-personnel: #416137;
  --clr-calendar: #fff;
  --clr-big-intro: #416137;
  --clr-sub-heading: #416137;
  --clr-heading: #416137;
  --clr-logo: #416137;
  --clr-tagline: #644620;
  --clr-hilight: #f7B952;
  --clr-hilight-text: #644620;
  --clr-header-hilight: #83b26f;
  --clr-blockquote: #f7B952;
  --clr-text-blockquote: #644620;
  --clr-ul: #f7B952;
  --clr-image-brdr: #f7B952;
  --clr-link: #805929;
  --clr-text: #805929;
  --clr-figcaption: #416137;
  --clr-hr: #80592936;
  --clr-lott: #121618;
  --clr-picto: #416137;
  --clr-one: #f9f5f0;
  --clr-two: #6c481c;
  --clr-three: #c0ffc0;
  --clr-pagination: rgba(249,245,240, .7);
  --clr-work-hvr-bkgd: rgba(248, 237, 219, 0.75);
  --work-static-opacity: rgba(0,0,0, .2);
  --clr-work-fig-text: var(--clr-light);
  --clr-work-fig-text-hvr: var(--clr-dark);
  --clr-tactile: rgba(255, 197, 207, 0.60);
  --filter-img-brightness: brightness(inherit);
}

/*
  index
  1 Global Rules & Defs
  1.1 Font Defs
  1.2 Reset & Normalisation
  1.3 General Typography
  1.4 Images & Figures
  2 Layout Helpers & Reusable Components
  2.1 Kirbytext
  2.2 Buttons & Animations
  2.3 Grids & Layout
  2.4 Work & Tag Grid
  2.5 Pagination
  3 Site Layout
  3.1 Header & Logo
  3.2 Menu & Nav
  3.3 Footer
  3.4 Main Content
  4 Template-specific Components
  4.1 Blog Article
  4.2 Plates (core grid content containers)
  5 Hdpi + widescreen support
*/

/* == 1 Global Rules & Defs =================================== */

/* -- 1.1 Font Defs ------------------------------------------- */

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url(https://thecentrestewarton.com/assets/fonts/montserrat-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(https://thecentrestewarton.com/assets/fonts/montserrat-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Vesper Libre */
@font-face {
  font-family: 'Vesper Libre';
  src: url(https://thecentrestewarton.com/assets/fonts/vesperlibre-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vesper Libre';
  src: url(https://thecentrestewarton.com/assets/fonts/vesperlibre-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vesper Libre';
  src: url(https://thecentrestewarton.com/assets/fonts/vesperlibre-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* -- 1.2 Reset & Normalisation ------------------------------- */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}

::selection {
  color: var(--clr-one);
  background: var(--clr-two);
}

/* -- 1.3 General Typography ---------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalise margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.5rem;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: left;
  color: var(--clr-heading);
}

h1 {
  font-weight: 100;
  font-size: 1.75rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h2:first-of-type {color: var(--clr-text);}
h2.plate-title {font-size: 1.1rem;}

h3 {
  font-size: 1em;
  line-height: 1.2;
}

h3.sub-heading {font-size: 1.1rem;}

h4 {
  font-size: 1em;
  font-weight: 100;
}

.sub-heading {
  text-align: left;
  padding-top: 1.5rem;
  color: var(--clr-sub-heading);
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
 color: var(--clr-text);

}

.text a {
	display: inline-block;
  	background:
    linear-gradient(
    to bottom, var(--clr-link) 0%,
    var(--clr-link) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 12%;
  text-decoration: none;
	}

.text a:hover {
  	background-size: 4px 100%;
  	color: var(--clr-site-bkgd);
  	border-radius: 3px;
	}

a.gratis {
    font-size: 0.8em;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
  }

.gratis-links {column-count: 1;}

@media all and (min-width: 44em) {
    .gratis-links {column-count: 2;
    }
}

@media all and (min-width: 70em) {
    .gratis-links {column-count: 3;
    }
}

.text.wrap.copy {max-width: 40em;}

@media all and (min-width: 60em) {
    .copy p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    }
}

/* Misc */
hr {
	height: 2px;
	background-color: var(--clr-hr);
}

.big-intro {
  max-width: 22em;
  font-weight: 100;
  color: var(--clr-big-intro);
}

.gratis-intro {
  margin-bottom: 1rem;}
}

h2.announcement {
  background-color: var(--clr-two);
  color: color: var(--clr-one);
  border-radius: 20px;
  padding: 40px;
  font-size: 1.2rem;
  margin-bottom: 0;
  }

.pointer {
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid var(--clr-hilight);
	margin: 0 auto;
}

.announcement p {
  text-align: center;
  margin-bottom: 0;
}

.gratis-module h3 {
  text-align: left;
  color: var(--clr-two);
}

.gratis-module {
  border: 2px solid var(--clr-three);;
  border-radius: 20px;
  padding: 40px 40px 20px 40px;
  background-color: var(--clr-three);
}

.facilities-module {
  border: 2px solid var(--clr-three);;
  border-radius: 20px;
  background-color: var(--clr-three);
}


.gratis-module h3 {
  display: block;
  padding-bottom: 20px;
}

@media all and (min-width: 50em) {
.gratis-module h3 {text-align: center;
    }
}

ul.gratis-links li {
    margin-bottom: 2px;
    margin-left: 1em;
    line-height: 1em
}

ul.day-times, ul.details-list, .facilities-module ul {font-size: .8rem}

@media all and (min-width: 40em) {
  ul.day-times, ul.details-list,  .facilities-module ul {font-size: 1rem}
  }
}

h1 + hr,
.intro + hr {
  /* Shift a <hr> right after an `.intro`
     or <h1> block one line up. */
  margin-top: -1.5rem;
}

em {
  font-style: normal;
  color: var(--clr-two);
  font-weight: 700;
}

b, strong {
  font-weight: 700;
}

mark {
  display: inline-block;
  padding: 4px;
  color: var(--clr-one);
  background: var(--clr-two);
  border-radius: 5px;
  margin: 6px 0;
}

/* -- 1.4 Images & Figures ------------------------------------ */

img {
  border-style: none;
  width: 100%;
  height: 100%; /*auto;*/
  object-fit: cover;
  filter: var(--filter-img-brightness);
}

.plate svg:not(.home svg):not(.error svg) {width: 80px; height: 80px;}
.plate-image {height: auto;}

@media screen and (min-width: 40em) {
  .plate svg:not(.home svg):not(.error svg) {width: 110px; height: 110px;}
}

.focal figure img {
  border: 4px solid var(--clr-hilight);
  border-radius: 20px;
}

.focal > figure:last-of-type img {
  border: 4px solid var(--clr-hilight);
}

figcaption {
  font-size: .6rem;
  line-height: 1rem;
  color: var(--clr-figcaption);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  padding-left: 20px;
}

/* == 2 Layout Helpers & Reusable Components ================== */

/* Clearfix */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.pad {margin-bottom: .3em}
.xpad {padding-bottom: 1.5rem;}
.xlpad {padding-bottom: 3rem;}
.nopad {margin-bottom: 0; padding-top: 0}

.nav-line {
	border-bottom: 1px solid;
	background-color: var(--clr-site-bkgd);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* -- 2.1 Kirbytext ------------------------------------------- */

.intro {
  line-height: 1.3em;

}

.intro, .subintro, .additional {
  text-align: left;
  font-weight: normal;
  padding: 10px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.subintro {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--clr-text);
  }

.additional {font-size: 0.9em;}

h1 + .intro {
  margin-top: 0rem;
}

.text h2:not(.sub-heading),
.text h3:not(.sub-heading) {
  margin-top: 3rem;
}

.text ul, .text ol, ul.gratis-links, ul.staff-textual {
  margin-left: 1.5em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

@media all and (min-width: 50em) {
    ul.staff-textual {margin-left: 2.5em;}
}

.text ul {
  list-style: none;
}

.text ul > li::before {
  content: "+";
  color: var(--clr-ul);
  display: inline-block;
  position: relative;
  width: 1.25em;
  margin-right: -1.25em;
  left: -1.25em;
  padding-left: .25em;
  font-weight: bold;
}

ul.gratis-links > li::before {
  content: "★";
  color: var(--clr-ul);
  display: inline-block;
  position: relative;
  width: 1.25em;
  margin-right: -1.25em;
  left: -1.25em;
  padding-left: .25em;
  font-weight: bold;
}

.text ul.bizcard {
	margin: 0;
	padding: 1em 1.4em;
	background-color: var(--clr-bizcard);
	display: block;
	border-radius: 20px;
	border: 2px solid var(--clr-bizcard);
	font-size: clamp(.8rem, 3.5vw, 1rem);
}

.text ul.bizcard li {padding: 2px;}

.text ul.bizcard > li::before {
  content: none;
}

ul.staff-textual {margin-bottom: 3em;}

ul.staff-textual > li::before {
  content: "●";
  color: var(--clr-ul);
  display: inline-block;
  position: relative;
  width: 1.25em;
  margin-right: -1.25em;
  left: -1.25em;
  padding-left: .25em;
  font-weight: bold;
}

.staff-textual li {font-size: .8rem;}

@media all and (min-width: 40em) {
    .staff-textual li {font-size: inherit;}
}

span.personnel {color: var(--clr-personnel);}

@media all and (min-width: 30em) {
    .text ul.bizcard {display: inline-block;}
}

.text hr {
  /* More muted style for horizontal rules within
     the main content. */
  color: var(--clr-text);
}

.text ol > li {
  list-style: decimal;
}

.text pre, .text code {
  background-color: var(--clr-three);
  font-family: Courier, monospace;
  font-size: .75rem;
}

.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
    /* Enables smoother code sections
       scrolling on touch devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 2px;
}

blockquote {
  font-size: .8rem;
  line-height: 1.5em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 1.5rem 1.5rem;
  margin-bottom: 1rem;
  background: var(--clr-blockquote);
  background-image: url(https://thecentrestewarton.com/assets/images/quote-mark-open.svg), url(https://thecentrestewarton.com/assets/images/quote-mark-close.svg);
  background-position: left 10px top 10px, right 20px bottom 20px;
  background-repeat: no-repeat, no-repeat;
  background-size: 10%, 10%, auto;
  text-align: left;
  border-radius: 20px;
  color: var(--clr-text-blockquote);
}

blockquote:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 40em) {
  blockquote {padding: 1.5rem 3rem;
  font-size: 1rem;
  }
}

.project-meta, .tag-cluster {
  font-size: .9rem;
  margin-bottom: 1rem;
  display: none;
}

.project-meta b, .tag-cluster b {font-weight: 100;}

.project-meta span:last-child {display: none;}

.project-meta b::after, .tag-cluster b::after {
	content: " — ";
	color: var(--clr-two);
}

/* -- 2.2 Buttons & Animations -------------------------------- */

.btn {
  display: block;
  padding: .6rem .8rem;
  white-space: nowrap;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: .8rem;
  font-size: clamp(.5rem, 3.5vw, .8rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: inherit;
  text-align: center;
  color: var(--clr-text);
  background: var(--clr-one);
  border: 2px solid var(--clr-text);
  border-radius: 100px;
  width: auto;
}

.bizcard .btn {
  font-weight: 100;
  border: 1px solid var(--clr-text);
}

.plate-action.btn {
  margin-top: 20px;
}

.xl {width: 45%; background: var(--clr-site-bkgd);}

@media all and (min-width: 50em) {
  .btn {letter-spacing: 1px;}
  .xl {width: 40%; font-size: 1rem; font-size: clamp(.5rem, 3.5vw, 1rem);}
}

.btn:hover, .btn:focus {
  color: var(--clr-one);
	background: var(--clr-text);
	transition: color .3s,background-color .3s,border-color .3s,opacity .3s
}

.show {
  display: block;
  padding: .4rem 0;
  line-height: 0;
  text-align: center;
}

@keyframes attractor {
  50% {transform: translateX(0);}
  100% {transform: translateX(.2em);}
}

.attractor {
	animation: attractor 0.5s ease-in-out infinite alternate-reverse;
	display: inline-block;

}

@keyframes indicate {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

.indicate {
  animation: indicate 2s 1s infinite;
	display: block;
	margin: 0 auto;
  text-align: center;
  width: 1.75rem;
}

@keyframes glint {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}

@keyframes pulsing-heart {
  0% {transform: scale(1);}
  25% {transform: scale(1.2);}
  50% {transform: scale(1);}
  100% {transform: scale(1);}
}

.tag {display: inline-block;}

.close {
  font-size: 3em;
  display: inline-block;
  vertical-align: text-top;
  animation: glint 1s infinite;
}

.close:hover {
  animation: none;
  color: var(--clr-two);
}

/* -- 2.3 Grids & Layout -------------------------------------- */

.grid {
  --columns: 12;
  --gutter: .75rem .75rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}

.grid > .column {
  margin-bottom: var(--gutter);
}

.autogrid {
  --gutter: .75rem;
  --min: 15rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
  grid-gap: .75rem;
}

.lander.autogrid {
  --min: 11.5rem;
}

.autogrid .work-grid-title {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: .8rem;
}

.autogrid figcaption {line-height: inherit;}

.autogrid img {border: 2px solid #f7B952; border-radius: 10px;}

@media screen and (min-width: 30em) {
  .autogrid img {border: 4px solid #f7B952; border-radius: 20px;
  }
}

.group {
	--gutter: .1rem;
	--min: 1rem;
}

.group-timeline {
	--gutter: .1rem;
	--min: 8rem;
}

.group-timeline figure {margin: 0;}

@media screen and (min-width: 44em) {

.group-timeline {
	--gutter: .1rem;
	--min: 1rem;
}

}

.group img {
	height: inherit;
	object-fit: contain;
}
.group figure {margin: 0}

.home.group {grid-template-columns: 1fr; margin-top: 3rem;}
.home.group.autogrid a {background-color: var(--clr-three); border-radius: 30px; border: 2px solid var(--clr-three);}

.home {grid-gap: 1.5rem;}
.home .plate {background: none;}
.home p.plate-text {margin: 0rem; font-size: 1.2em;}
.home h3.plate-title {font-weight: 100; margin: 0 0 1em 0}
.home .plate-title {margin: 1em 0; font-size: 1.4em}
.home.group.autogrid img {border: inherit;}
.home.group.autogrid a:hover {transition: color .3s,background-color .3s,border-color .3s,opacity .3s; border: 2px solid var(--clr-two);}
.home.group.autogrid a:hover .plate-modular {color: var(--clr-two);}

.home .plate-content {
  padding: .5rem;
  font-size: .7em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.home .plate-supplemental {
  padding: .5rem;
  font-size: 1em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

.home.plate-supplemental .btn {
  display: inline;
}

.home .plate-modular {padding: 20px;}
.plate-modular {padding: 10px;}

.whatson.autogrid {grid-gap: 3rem; margin-top: 2rem;}
.whatson.autogrid li.plate.column, .whatson.autogrid a {border-radius: 20px; color: var(--clr-hilight-text); background-color: var(--clr-hilight); font-family: Montserrat, Helvetica, Arial, sans-serif;}
.whatson .plate-title, .whatson .plate-text {text-align: center;}

.div:nth-child(2n+1):first-child {font-size: 30rem;}


@media screen and (min-width: 44em) {
  body {
    --padding: 3rem;
  }
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }
  .home.group {
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr))
  }
}

@media screen and (min-width: 66em) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.work-grid, .tag-grid, .facet.grid:not(.error) {margin: 0;}

.error.main {padding-top: 0;}
.error .plate {background: var(--clr-site-bkgd);}

/* -- Grid (services) big surface area -------------- */
/* -- @media screen and (min-width: 44em) {
  .surface li:first-child {grid-column: span 8;}
  .surface li:first-child .plate-title {font-size: 2rem; margin-bottom: .75em}
  .surface li:first-child svg:not(.attractor svg) {height: 150px; width: 150px;}
  .surface li:first-child .plate-text {font-size: 1.2rem; line-height: 1.7rem}
} -- */

/* -- @media screen and (min-width: 66em) {
  .surface li:first-child {
    grid-column: span 12;
  }
}- - */

.surface li:nth-child(2) {background-color: var(--clr-one)}
.surface li:nth-child(3) {background-color: var(--clr-one)}
.surface li:nth-child(4) {background-color: var(--clr-one)}
.surface li:nth-child(5) {background-color: var(--clr-one)}
.surface li:nth-child(6) {background-color: var(--clr-one)}
.surface li:nth-child(7) {background-color: var(--clr-one)}

.surface .plate-title {
	font-size: 1.1em;
	line-height: 1.2;
	margin-bottom: 1em;
}

.surface .plate-text {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: .8em;
}

/* -- Grid (facet) attenuated ----------------------- */
.facet li {
  display: grid;
  overflow: hidden;
}
.facet .plate-content {
  display: grid;
  align-content: center;
  place-items: start;
  grid-row-start: 1;
}
.facet .plate-title {
  font-size: 1.4em;
  margin-bottom: 0.2em;
}
.facet .plate-content p {
  margin: inherit;
}
/*.facet li:nth-child(2) {
  grid-template-columns: 4fr 2fr;
  background-color: var(--clr-one);
}
.facet li:nth-child(3) {
  grid-template-columns: 4fr 2fr;
  background-color: var(--clr-one);
}
.facet li:nth-child(4) {
  grid-template-columns: 4fr 2fr;
  background-color: var(--clr-one);
}*/

/* -- Grid (facet) median --------------------------- */
@media screen and (min-width: 44em) {
  .facet .plate-content {
    grid-row-start: inherit;
  }
  .facet li:first-child .plate-content,
  .facet li:nth-child(3) .plate-content {
    grid-row-start: 1;
  }
  .facet li:first-child {
    grid-column: span 12;
    grid-template-columns: 3fr 2fr;
  }
  .facet li:nth-child(2) {
    grid-column: span 12;
    grid-template-columns: 3fr 3fr;
  }
  .facet li:nth-child(3) {
    grid-column: span 12;
    grid-template-columns: 3fr 3fr;
  }
  .facet li:nth-child(4) {
    grid-column: span 12;
    grid-template-columns: 3fr 3fr;
  }
}

@media screen and (min-width: 60em) {
  .facet li:first-child .plate-content:not(.alert), .surface li:first-child .plate-content {
    padding: 1.5rem;
  }
}

/* -- Grid (facet) expansive ------------------------ */
@media screen and (min-width: 66em) {
  .facet li:first-child {
    grid-column: span 12;
    grid-template-columns: 3fr 2fr;
  }
  .facet li:first-child .plate-content,
  .facet li:nth-child(3) .plate-content {
    grid-row-start: 1;
  }
  .facet li:first-child {
    grid-column: span 12;
    grid-template-columns: 3fr 2fr;
  }
  .facet li:nth-child(2) {
    grid-column: span 12;
    grid-template-columns: 2fr 3fr;
  }
  .facet li:nth-child(3) {
    grid-column: span 12;
    grid-template-columns: 3fr 2fr;
  }
  .facet li:nth-child(4) {
    grid-column: span 12;
    grid-template-columns: 2fr 3fr;
  }
}

/* -- 2.4 Work & Tag Grid ------------------------------------- */

.work-grid, .tag-grid {
  display: grid;
  list-style: none;
  grid-gap: .75rem;
  line-height: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: dense;
}

.work-grid-item {border-radius: 20px;}

.work-grid li, .tag-grid li {
  position: relative;
  --cols: 1;
  --rows: 1;
  overflow: hidden;
  background: #000;
 -webkit-mask-image: -webkit-radial-gradient(white, black);
  line-height: 0;
}
.work-grid li:first-child {
  --cols: 2;
  --rows: 2;
}

.lander.work-grid li:first-child {
  --cols: 2;
  --rows: 2;
}
.lander.work-grid li:nth-child(2) {
  --cols: 1;
  --rows: 2;
}

.work-grid li:nth-child(4) {}

.work-grid li:nth-child(5) {
  --cols: 2;
}
.work-grid li:nth-child(6) {
  --rows: 2;
}
.work-grid a, .tag-grid a {
  display: block;
  height: 10rem;
  border-bottom: 0;
}
.work-grid img, .tag-grid img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
  filter: brightness(100%);
  border: none;
  transform: scale(1);
}

.work-grid a:hover img, .tag-grid a:hover img {
	transform: scale(1.05);
}

.work-grid figcaption, .tag-grid figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--clr-work-fig-text);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  background: var(--work-static-opacity);
}

.work-grid figcaption:hover, .tag-grid figcaption:hover {
  background: var(--clr-work-hvr-bkgd);
  color: var(--clr-work-fig-text-hvr);
}

@media screen and (min-width: 40em) {
  .land {
    grid-template-columns: repeat(2, 1fr);
  }
  .land li {
    grid-column-start: span var(--cols);
    grid-row-start: span var(--rows);
  }
}

@media screen and (min-width: 45em) {
  .work-grid {
    grid-template-columns: repeat(3, 1fr);
  }
   /* tag-grid layout */
  .tag1, .tag2, .tag3, .tag4, .tag5, .tag6 {
    grid-template-columns: repeat(2, 1fr);
  }
  .tag5 li:nth-child(1), .tag6 li:nth-child(1) {
	grid-column: 1 / 3;
  }/* tag-grid layout */
  .work-grid li {
    grid-column-start: span var(--cols);
    grid-row-start: span var(--rows);
  }
  .work-grid a {
    padding-bottom: 52.65%;
  }
}

.work-grid-link:hover .work-grid-caption,
.work-grid-link:focus .work-grid-caption {
  opacity: 1;
}

@media (any-hover: none) {
  .work-grid-caption {
    /* The media query enclosing these rules matches only
       touch-screen devices that do not support hover due
       to lack of pointing device. It does not work in all
       mobile browsers, but progressively enhances the
       experience on supported devices. */
    opacity: 0.65;
    /* Reset will-change property prevents it consuming
       unneccessary resources on touch-only devices */
    will-change: auto;
  }
  .work-grid-title {
    font-size: .85em;
  }
}

.wrap {
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: .75rem;
  padding-right: .75rem;
  max-width: 45rem;
}



.wrap.wide {
  max-width: 48rem;
  padding-left: 0;
  padding-right: 0;
}

@media all and (min-width: 31.5em) {
  .wrap:not(.wide) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media all and (min-width: 38.25em) {
  .wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* -- 2.5 Pagination ------------------------------------------ */

.pagination {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.pagination-item, .attractor svg {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: var(--clr-two);
  background: var(--clr-one);
  border: 2px solid var(--clr-two);
}

.pagination-item {background: var(--clr-pagination); z-index: 1;}

.attractor svg {
  width: 2rem;
  height: 2rem;
  padding: 20%;
}

.pagination-item:hover, .pagination-item:focus, .attractor svg:hover {
  color: var(--clr-light);
  background: var(--clr-link);
}

.pagination-item:active {
  background: var(--clr-btn-border);
}

.pagination-label:hover, .attractor svg:hover {
  color: var(--clr-one);
}

.pagination-label svg {
  padding: 25%;
}

.pagination-item path, .attractor path {
  fill: currentColor;
}

.pagination-label-text {display: none;}

.pagination-item.is-inactive {
  visibility: hidden;
}

@media all and (min-width: 75em) {
  .pagination-item {
    position: fixed;
    top: 50%;
    margin-top: -.875rem;
  }
  .pagination-item.left {
    float: none;
    left: 1rem;
  }
  .pagination-item.right {
    float: none;
    right: 1rem;
  }
}

@media all and (pointer: coarse) {
  .pagination-item {
    /* On touch-devices we increase prev/next buttons */
    width: 2.25rem;
    height: 2.25rem;
  }
}

/* == 3 Site Layout =========================================== */

html {
  background: var(--clr-site-bkgd);
  color: var(--clr-text);
  font: normal 400 1.5em/1.5 "Vesper Libre", Georgia, serif;
  /* Always show the vertical scrollbar to prevent `jumps`
     of page content after navigating from a very short page
     that does not scroll to a long page */
  overflow-y: scroll;
  /* Setting this to `default` prevents the cursors from
     changing when hovering blocks of text or whitespace,
     which is less distracting */
  cursor: default;
  /* Required for sticky footer. */
  height: 100%;
  /* Prevent adjustments of font size after orientation
     changes in IE & iOS. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight colour for WebKit-based touch devices. */
  -webkit-tap-highlight-color: var(--clr-tactile);
  scroll-behavior: smooth;

	opacity: 1;
}

@media all and (max-width: 30em) {
  html {
    /* Reduce tiny screen font */
    font-size: 1.25em;
  }
}

body {
  color: var(--clr-text);
  /* Required for sticky footer. */
  min-height: 100%;
}

/* Remove animations & transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    animation: none!important;
    transition: none!important;
  }
}

/* -- 3.1 Header & Logo --------------------------------------- */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  max-width: 48rem;
  margin: 0 auto;
  padding: .4rem .75rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.header-image {
  border: 4px solid var(--clr-header-hilight);
  border-radius: 20px;
}


.branding {
	grid-template-columns: repeat(3, 1fr);
	display: inline-grid;
	grid-template-columns: min-content auto;
	grid-template-rows: repeat (12 auto);
	grid-template-rows: fit-content;
	grid-template-rows: 12;
	grid-template-rows: min-content auto;
	margin-bottom: 20px;
	margin-right: 30px;
}


@media all and (min-width: 62.2em) {
  .branding {
    margin-bottom: 0px;
  }
}

.logo {
  grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 3;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-bottom: 0;
  margin: 0 .2em 0 0;
  color: var(--clr-logo);
  font-variant: none;
}

.logo-tagline {
	grid-column-start: 3;
	font-size: 0.5em;
	grid-row-start: 1;
	line-height: 1.5em;
	color: var(--clr-logo);

}

.stewarton {
	grid-row-start: 2;
}

.logo a {
  padding: 0 1rem;
  display: block;
  align-items: center;
  cursor: pointer;
  background-size: 100%;
}

.logo:hover {
    display: inline;
  	background:
    linear-gradient(
    to bottom, var(--clr-link) 0%,
    var(--clr-two) 100%);
	background-position: 0 32px;
	background-repeat: repeat-x;
}

@media all and (min-width: 30em) {
  .logo:hover {
	  background-position: 0 36px;
  }
}

/* -- 3.2 Menu & Nav ----------------------------------- */

.menu {
  display: flex;
  flex-wrap: wrap;
  text-transform: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  gap: 10px 40px;
  align-items: center;
  height: 100%;
}

.menu a[aria-current] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--clr-link);
}

.footer-menu ul {margin: 0;}

.menu-item:hover,
.footer-menu a:hover,
.footer-privacy a:hover,
.footer-designer a:hover,
.footer-peak:hover,
a.footer-tel:hover,
a.footer-email:hover,
.autogrid figure:hover .work-grid-title,
 a.gratis:hover, a.return:hover
 {
	text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--clr-link);
}

a.footer-tel:hover {background-position: 0 25px;}
.autogrid .work-grid-title {color: var(--clr-text);}
.autogrid .work-grid-image:hover, .lightbox a:hover {filter: brightness(0.60); transition: all .15s linear;}
.lightbox figure a {background: none;}

.menu-item.is-active, .footer-privacy.is-active a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--clr-link);
}

.fb-icon svg {
  display: flex;
	width: 1.2em;
	height: 1.2em;
	margin: 0 0 0 0;
	font-size: 1rem;
}

/* -- 3.3 Footer ---------------------------------------------- */

.footer-background {
	display: flex;
	background-color: var(--clr-footer);
	margin-top: 40px;
	border-top: 1px solid;
}

#footer {
  display: grid;
  width: 96%;
  max-width: 48rem;
  margin: 20px auto 20px;
  padding: .75rem;
  font-size: 0.8rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-align: right;
  position: sticky;
  top: 100%;
  text-transform: normal;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer-menu {
  	justify-self: end;
  	text-align: right;
  	grid-column-start: 1;
  	grid-row-start: 1;
  	grid-column-end: 3;
  	z-index: 3;
  	}

  .footer-address {grid-row: 1; grid-column: 1/2; text-align: left;}
  .footer-contact {grid-row: 2; place-self: center; text-align: left;}
  .footer-privacy {grid-row: 5; grid-column: 1; text-align: left;}
  .footer-copyright {text-align: left; grid-row: 6; grid-column: 1/3;}
  .footer-designer {grid-row: 7; grid-column: 1; text-align: left}
  .footer-peak {grid-column-start: 1; grid-row-start: 7; grid-column-end: 3;}

.footer-tel {font-size: 1rem}

.footer-peak {
  justify-self: end;
  text-align: right;
}

.footer-peak a {border-bottom: none;}

.footer-logos {
    display: flex;
    grid-row: 3;
    grid-column: 1;
}

a.kirby-logo, a.kirby-logo:hover, .map-pin {
	display: inline-block;
	padding: 0;
	line-height: 0;
	text-align: center;
	background: none;
	vertical-align: middle;
	width: 20px;
	padding-bottom: 3px;
}

.aria-logo {margin-right: 10px;}
.aria-logo svg, .lottery-logo svg {height: 40px; margin-bottom: 20px;}


@media all and (min-width: 55em) {
    .aria-logo svg, .lottery-logo svg {height: 60px;
  }
}

@media all and (min-width: 31.5em) {
  .header {
    margin: 0 auto 0rem;
    /*padding: .5rem 1.5rem;*/
    }

  /*#footer {padding: .5rem 1.5rem 1.5rem;*/
  }
}

@media all and (min-width: 40em) {
  #footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    text-align: left;
    margin: 40px auto 0;
    }

  .footer-contact {grid-row: 2; place-self: center;}
  .footer-privacy {grid-row: 5; grid-column: 1}
  .footer-copyright {text-align: left; grid-row: 6; grid-column: 1/3;}
  .footer-designer {grid-row: 7; grid-column: 1/4}
  .footer-peak {grid-column-start: 2; grid-row-start: 7;}
}

@media all and (min-width: 55em) {
  #footer {
  	grid-template-columns: repeat(12, 1fr);
    }

    .footer-logos {
    grid-row: 1;
    grid-column: 4
    }

  .footer-menu {
  	grid-column: 8/13;
  	}

  .footer-address {grid-row: 1; grid-column: 1/3;}
  .footer-contact {grid-row: 2; place-self: center;}
  .footer-privacy {grid-row: 5; grid-column: 1}
  .footer-copyright {text-align: center; grid-row: 7; grid-column: 4/5;}
  .footer-designer {grid-row: 7; grid-column: 1/4}
  .footer-peak {grid-column: 6/13;}
}

/* -- 3.4 Main Content ---------------------------------------- */

.main {
  width: 96%;
	max-width: 48rem;
	margin: 0 auto;
  padding-top: 3rem;
  background-color: var(--clr-one);
  border-radius: 0;
  overflow: hidden;
  margin-top: 100px;
}

@media all and (min-width: 74em) {
  .header,
  .main,
  #footer {
    width: 92%
    }
}

@media all and (min-width: 48em) {
  .main {
    margin-top: 60px;
    }
}

/* == 4 Template-specific Components ========================== */

/* -- 4.1 Blog Article ---------------------------------------- */

.article-title {
  font-weight: 100;
  margin-bottom: 0;
}

.article-title a {
  border-bottom: 0;
}

.article-date {
  text-align: left;
}

.article:last-of-type + hr {
  /* Hide last <hr> on blog page */
  display: none;
}

.article-more {
  font-size: 75%;
  text-transform: uppercase;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  white-space: nowrap;
}

/* -- 4.2 Plates ---------------------------------------------- */

.plate {
  background: var(--clr-one);
  background-clip: content-box;
  text-align: left;
  font-size: .85rem;
  /* Flexbox for plate content ensures
     optional button always aligns
     equally to bottom of plate. */
  display: flex;
  flex-direction: column;
}

.plate-image:not(.autogrid .plate-image) {
  border: 2px solid var(--clr-two);
  border-radius: 20px;
}

/*- Error 404 -*/

.error {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.error svg {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding-bottom: 5%;
}

@media all and (min-width: 44em) {
  .error svg {padding-top: 5%;}
}

.plate-title {
    margin-bottom: 1.5em;
}

.plate-tagline {
    font-size: 1.2em;
    margin-bottom: .5em;
    color: var(--clr-tagline);
    line-height: 1.3em;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.plate-content {
    padding: 1rem;
    flex-grow: 1;
    line-height: 1.5em;
}

.plate-contact {
    display: flex;
    justify-content: space-around;
    margin-top: 0rem;
    width: 100%;
}

@media all and (min-width: 58em) {
  .plate-content {padding: 1.5rem;}
  .plate svg:not(.attractor svg):not(.error svg):not(.home svg) {margin-bottom: .5rem;}
}

/* -- 5 Hdpi + widescreen support ----------------------------- */

@media all and (min-width: 100em) {
  .wrap:not(.wide) {
    padding-left: 3rem;
    padding-right: 3rem;
    }

html {
	/* increase widescreen font */
	font-size: 2.5em;
	line-height: 1.7em;
	}

.header,
.main,
#footer {
  width: 90%
  }

#footer {line-height: 1.5em;}

a.kirby-logo, a.kirby-logo:hover, .map-pin {
	width: 28px;
	padding-bottom: 4px;
  }

.aria-logo {margin-right: 30px;}
.aria-logo svg, .lottery-logo svg {height: 100px;}

.menu {gap: 10px 80px;}

.btn {font-size: 1rem; font-size: clamp(.5rem, 1.5vw, 1rem);}
.xl {font-size: 1rem; font-size: clamp(.5rem, 3.5vw, 1rem);}

blockquote {
	background-position: left 40px top 40px, right 60px bottom 60px;
	}

.focal figure img {
  	border: 4px solid var(--clr-three);
	}

.autogrid figcaption {line-height: .5rem;}

.focal > figure:last-of-type img {border: 8px solid var(--clr-three);}

.plate svg:not(.attractor svg):not(.error svg):not(.home svg) {width: 180px; height: 180px;}
.pagination-item svg {}
.pagination-label {}
}

@media all and (min-width: 150em) {
  html {
	/* increase x-wide screen font */
	font-size: 3em;
	}

.plate svg:not(.attractor svg):not(.error svg) {width: 220px; height: 220px;}
.pagination-item svg {}

a.kirby-logo, a.kirby-logo:hover, .map-pin {
	width: 32px;
	padding-bottom: 6px;
  }

.aria-logo {margin-right: 40px;}
.aria-logo svg, .lottery-logo svg {height: 120px;}

}
